.list-group-item{
  cursor: pointer;
}

.input-label{
  background: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
}

.input-label-lg{
  background: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
  font-size: large;
  font-weight: bold;
}
.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}
